button i.fa {
  padding-right: 6px;
}

.breadcrumb {
  margin-bottom: 15px;
}

.main .container-fluid {
  padding: 0 15px;
}

.app-header.navbar .navbar-brand {
  background-size: 130px auto;
}

.sidebar .nav-link .badge {
  margin-right: 2px;
}

.VuePagination__count {
  margin-bottom: 0;
}

.VueTables__sortable {
  cursor: pointer;
}

.VueTables__sortable .VueTables__sort-icon {
  display: inline-block;
  float: none !important;
  margin-left: 10px;
}

.tree-view-wrapper {
  line-height: initial;
  overflow: hidden !important;

  .tree-view-item {
    font-size: 1em;
  }

  .tree-view-item-key {
    color: $indigo;
  }

  .tree-view-item-value-string {
    color: $red;
  }

  .tree-view-item-value-number {
    color: $red;
  }

  .tree-view-item-value-boolean {
    color: $green;
  }

  .tree-view-item-value-null {
    color: $orange;
  }
}

.row-status-indicators {
  thead tr {
    border-left: $status-width solid transparent;
  }
  @each $status, $color in $client-status-colors {
    tr.status-#{$status}  {
      border-left: $status-width solid $color;
    }
  }
}
